<div class="home">
    <img class="home-img" src="https://i0.wp.com/cdn.clickwallpapers.net/images/clickwallpapers-binary-code-img4.jpg?w=958&ssl=1">
    <div class="home-text-container d-flex flex-column justify-content-center align-items-center">
        <div class="home-headline">CODE FACTORY</div>
        <div class="home-text mb-5">BECOME A JOB-READY WEB DEVELOPER</div>
        <div class="button-container d-flex align-items-center">
            <a href="https://codefactory.wien/de/team-de/" class="btn btn-secondary m-2 p-3" role="button">ABOUT US</a>
            <a href="https://codefactory.wien/de/our-courses-de/" class="btn btn-secondary m-2 p-3" role="button">BOOK A COURSE</a>
        </div>
    </div>

</div>
